<label for="flexCheckDefault" class="form-label">Hobbies</label>
<div class="grid-view">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="Cricket"
      id="flexCheckDefault"
      (change)="changeCheck($event)"
    />
    <label class="form-check-label" for="flexCheckDefault"> Cricket </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="Chess"
      id="flexCheckDefault1"
      (change)="changeCheck($event)"
    />
    <label class="form-check-label" for="flexCheckDefault1"> Chess </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="Dance"
      id="flexCheckDefault2"
      (change)="changeCheck($event)"
    />
    <label class="form-check-label" for="flexCheckDefault2"> Dance </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="Painting"
      id="flexCheckDefault3"
      (change)="changeCheck($event)"
    />
    <label class="form-check-label" for="flexCheckDefault3"> Painting </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="Traveling"
      id="flexCheckDefault4"
      (change)="changeCheck($event)"
    />
    <label class="form-check-label" for="flexCheckDefault4"> Traveling </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value="Others"
      id="flexCheckDefault5"
      (change)="changeCheck($event)"
    />
    <label class="form-check-label" for="flexCheckDefault5"> Others </label>
  </div>
</div>
