<label for="dropdown" class="form-label">Nationality</label>
<!-- <div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Indian
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">American</a></li>
    <li><a class="dropdown-item" href="#">British</a></li>
    <li><a class="dropdown-item" href="#">German</a></li>
  </ul>
</div> -->

<!-- Example single danger button -->
<!-- <div class="btn-group dropend">
  <button type="button" class="btn btn-secondary">Split dropend</button>
  <button
    type="button"
    class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="visually-hidden">Toggle Dropend</span>
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Action</button></li>
    <li><button class="dropdown-item" type="button">Another action</button></li>
    <li>
      <button class="dropdown-item" type="button">Something else here</button>
    </li>
  </ul>
</div> -->

<div class="dropdown_container">
  <select
    #nationality
    name="nationality"
    id="nationality"
    class="dropdown"
    (change)="setOption(nationality.value)"
  >
    <option value="Indian" selected>Indian</option>
    <option value="American">American</option>
    <option value="British">British</option>
    <option value="German">German</option>
    <option value="Other">Other</option>
  </select>
</div>
