<div class="main-container">
  <div class="title-content">
    <h3 class="title">{{ title }}</h3>
    <div class="btn-container">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="showModal('Add Data', 'Add')"
      >
        Add
      </button>
    </div>
  </div>
  <div class="search-content">
    <input
      type="text"
      class="form-control"
      id="serarchbar"
      placeholder="Search"
      (keyup)="onSearch($event)"
    />
  </div>
</div>
<ag-grid-angular
  style="width: 100%; height: 30%"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
></ag-grid-angular
><br /><br />

<div class="modal-container" *ngIf="modalVisible">
  <div #content class="modals">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="hideModal()"
      ></button>
    </div>
    <div class="modal-body">
      <form #myForm="ngForm" (ngSubmit)="storeData(btnText, myForm)">
        <div class="mb-3" *ngFor="let element of modalContent">
          <label for="{{ element.id }}">{{ element.name }}</label>
          <div class="input-group">
            <input
              id="{{ element.id }}"
              class="form-control"
              placeholder="{{ element.placeholder }}"
              name="{{ element.id }}"
              type="{{ element.type }}"
              min="0"
              ngModel
            />
          </div>
        </div>
        <p class="error-text" *ngIf="iserror">{{ errorMessage }}</p>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary">
            {{ btnText }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
